
.tdbold {
    color: #000000; font-size: 6pt; font-weight: bold; height: 4mm; vertical-align: top; border: 0; padding: 0 1mm 0 1mm;
}

.tdnormal {
    color: #000000;
    font-size: 6pt;
    font-weight: normal;
    height: 4mm;
    vertical-align: top;
    padding: 0 1mm 0 1mm;
}

.divclass {
    background-color: #EFEFEF;
    padding: 5px 5px 5px 5px;
    margin-bottom: 7px;
    text-align: left;
    border-radius: 5px;
}

.divother {
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    border: 1px #EAEAEA solid;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 5px 5px 0 5px;
    display: inline-block;
    margin: 0 auto 0 auto;
}

.divother2 {
    background-color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
    border: 1px #EAEAEA solid;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 5px 5px 0 5px;
    margin: 0 auto 0 auto;
}

.divPartesGrid{
    font-size: 8pt;
    display: inline-block;
    padding: 0 0 0 0;
    border: 0;
}

.rowParte{
    background-color: #F9F9F9;
    border-radius: 3px;
    padding: 2px 0 2px 0;
    margin: 1px 5px 0 0;
}

.rowParte:hover {
    background-color: #EFEFEF;
}

.divPartesHeader {
    font-weight: bold;
    text-align: center !important;
    background-color: #F9A11B;
    border-radius: 3px;
}

.divPartesCantidad{
    width: 45px;
    text-align: right;
}

.divPartesNoParte{
    width: 125px;
    text-align: left;
}

.divPartesDescripcion{
    width: 260px;
    text-align: left;
}

.divPartesCostoU{
    width: 50px;
    text-align: right;
}

.divPartesTipo{
    width: 80px;
    text-align: left;
}

.divPartesSubTipo{
    width: 80px;
    text-align: left;
}

.divPartesNoSerial{
    width: 135px;
    text-align: left;
}

.divPartesUbicacion{
    width: 115px;
    text-align: left;
}

.divPartesDelete{
    width: 22px;
    text-align: center;
    vertical-align: middle;
}

.imgDeletePart{
    height: 20px;
    cursor: pointer;
    display: inline-block;
    border: 0;
    vertical-align: bottom;
}


.autocomplete-suggestions {
    width: 380px;
    text-align: left;
    cursor: default;
    border: 1px solid #E58D07;
    border-top: 0;
    background: #EFEFEF;
    box-shadow: 0 1px 0 #FFFFFF;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border-top-left-radius: 0;
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 235px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
    position: relative;
    padding: 0 0 0 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10pt;
    color: #282828;
    text-shadow: 0 1px 0 #000000;
    height: 80px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px 80px;
    margin-bottom: 3px;
    border:1px #EAEAEA solid;
    border-radius: 3px;
    box-shadow: 0 1px 0 #FFFFFF;
    background-color: #FFFFFF;
}

.autocomplete-suggestion b {
    font-weight: bold;
    color: #F9A11B;
    text-shadow: 0 1px 0 #E58D07;
}

.autocomplete-suggestion span {
    font-weight: normal;
    font-size: 9pt;
}

.autocomplete-suggestion.selected {
    background: #EFEFEF;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px 80px;
}

.lblErrorWarnings {
    border: 1px #FF0000 solid;
    text-align: left;
    border-radius: 5px;
    font-size: 9pt;
    font-weight: bold;
    padding: 5px 5px 5px 30px;
    margin: 0 auto 7px auto;
    background-color: #EFEFEF;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: auto 85%;
    display:none;
}