.divGrid {
    margin: 0 5px 0 5px;
    background-color: #FFFFFF;
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-radius: 5px;

}

.divGrid table {
    margin: 0 auto 0 auto;
    border-spacing: 2px;
    border-collapse: separate;
}

.divGrid table thead tr th {
    font-weight: normal;
    background-color: #F9A11B;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
    color: #282828;
    text-shadow: 0 1px 0 #E58D07;
}

.divGrid table tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

.divGrid table tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}

.divGrid table tbody tr td {
    font-weight: normal;
    border-radius: 3px;
    padding: 2px 5px 2px 5px;
}

.labelActions {
    font-size: 14pt;
    font-weight: normal;
    margin: 0 5px 0 5px;
    cursor: pointer;
}

.labelActionsGreen {
    color: #28B428;
    text-shadow: 0 1px 0 #14A014;
}

.labelActionsRed {
    color: #FF2828;
    text-shadow: 0 1px 0 #EB1414;
}

.labelActionsOrange {
    color: #F9A11B;
    text-shadow: 0 1px 0 #E58D07;
}