#divWorkingBackground {
    z-index: 10000001;
    background-color: rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

#divWorking {
    text-align: center;
    padding: 20px 20px 20px 20px;
    border:1px #F9A11B solid;
    border-radius: 5px;
    box-shadow: 0 1px 0 #E58D07;
    background-color: #282828;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    position: absolute;
    width: 64px;
    height: 64px;
}

#divWorking img {
    display: inline-block;
    border: 0;
    vertical-align: bottom;
}