.tdNonActive {
    color: #FF2828;
    text-shadow: 0 1px 0 #EB1414;
    cursor: pointer;
    font-size: 14pt;
}

.tdActive {
    color: #28B428;
    text-shadow: 0 1px 0 #14A014;
    cursor: pointer;
    font-size: 14pt;
}